@import './reset.scss';

body{
    background: url('../../images/bg.png') no-repeat 50% 0% / cover;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.app-wrapper{
    width: 600px;
    padding: 150px 0;
    margin: 0 auto;
    text-align: center;
}
.menu-wraper{
    width: 100%;
    line-height: 60px;
    &-content{
        width: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: 50px;
        li {
            a{
                color: #fff;
                transition: .3s linear;
                line-height: 30px;
                &:hover{
                    color: #e0d1be;
                    text-decoration: none;
                }
            }
        }
    }
}
h1{
    text-transform: capitalize;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 800;
    text-shadow: 1px 1px 3px #063b8c;
}

.tabs-content-sell{
    padding: 20px 40px;
    background: rgba(255, 255, 255, .5);
    border-radius: 5px;
}

.currency-line,
.counter-line{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
   margin-bottom: 25px;
}
.currency-line{
    button{
        border-radius: 5px;
        border: 1px solid rgb(0, 93, 233);
        padding: 3px 10px;
        background: rgba(0, 93, 233, 0.8);
        box-shadow: 0px 0px 1px 0px transparent;
        color: #fff;
        font-size: 17px;
        cursor: pointer;
        &:focus{
            outline: none;
            box-shadow: 0 1px 12px 3px #005de9;
        }
    }
    label{
        width: 35%;
        p{
            text-transform: capitalize;
            text-align: left;
            color: #063b8c;
            font-size: 17px;
            margin-bottom: 10px;
        }
    select{
        width: 100%;
        
    }
    }
}

label{
    width: 35%;
    p{
        color: #063b8c;
        font-size: 17px;
        margin-bottom: 10px;
    }
    input{
        border-radius: 5px;
        line-height: 25px;
        font-size: 18px;
        text-indent: 10px;
        width: 100%;
        &:focus{
            outline: none;
        }
    }
}

select{
    width: 35%;
    padding: 6px 0;
    text-indent: 10px;
    border-radius: 5px;
    cursor: pointer;
    option{
        padding: 6px 0;
        text-indent: 10px;

    }
}
.bottom-btns-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    label{
        color: #063b8c;
    }
}
.modal-net-checker{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
background: rgba(255, 255, 255, .8);
    svg{
        width: 60px;
        height: 60px;
        transform: translate(-50%, -50%);
    }
    p,
    svg{
        position: absolute;
        top: 50%;
        left: 50%;
    }
    p{
        font-family: 'Abril Fatface', cursive;
        font-weight: 800;
        font-size: 35px;
        color: #063b8c;
        top: 60%;
        transform: translate(-50%, 0%);
    }
}

.login-wrapper{    
    padding-top: 150px;
}
.login-container{
    background: rgba(255, 255, 255, .8);
    border-radius: 5px;
    width: 350px;
    margin: 0 auto;
}
.login-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    li{
        width: 50%;
        text-align: center;
        border-radius: 5px 5px 0 0;
        transition: .3s linear;
        cursor: pointer;
        &:hover{
            background: #063b8c;
            a{
                color: #fff;
            }
        }
        &.active{
            background: #063b8c;
            a{
                color: #fff;
            } 
        }
        a{
            width: 100%;
            line-height: 50px;
            font-size: 18px;
            font-weight: 800;
            color: #005de9;
            transition: .3s linear;
        }
    }
}
.registration-form,
.login-form{
    padding: 20px 0;
    border-top: 1px solid #000;
    label{
        width: 80%;
        margin: 0 auto;
        display: block;
        margin-bottom: 30px;
    input{
        width: 100%;
        padding: 5px 0;
        border: 1px solid #5d5e5f;
        border-radius: 5px;
        background: transparent;
        &:focus {
            outline: none;
        }
    }
}
        button{
            background: #005de9;
            display: block;
            margin: 0 auto;
            font-size: 15px;
            text-transform: uppercase;
            line-height: 30px;
            width: 150px;
            border-radius: 5px;
            border: 1px solid #005de9;
            cursor: pointer;
            color: #fff;
            transition: .3s linear;
            &:focus {
                outline: none;
            }
            &:hover{
                background: #00e99b;
                border: 1px solid #00e99b;
            }
        }
   
}

::-webkit-input-placeholder{
    color: rgb(112, 112, 112);
    font-size: 14px;
    transition: all .3s ease;
}
::-moz-placeholder{
    color: rgb(112, 112, 112);
    font-size: 14px;
    transition: all .3s ease;
}/* Firefox 19+ */
:-moz-placeholder{
    color: rgb(112, 112, 112);
    font-size: 14px;
    transition: all .3s ease;
}/* Firefox 18- */
:-ms-input-placeholder{
    color: rgb(112, 112, 112);
    font-size: 14px;
    transition: all 1.3s ease;
}

:focus::-webkit-input-placeholder{
    color: transparent;
    font-size: 0;
}
:focus::-moz-placeholder{
    color: transparent;
    font-size: 0;
}/* Firefox 19+ */
:focus:-moz-placeholder{
    color: transparent;
    font-size: 0;
}/* Firefox 18- */
:focus:-ms-input-placeholder{
    color: transparent;
    font-size: 0;
}


    .page{
        width: 80%;
        margin: 0 auto;
        padding: 100px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .dates-block,
    .weather-block{
        width: 300px;
        position: relative;
        line-height: 150px;
        font-size: 80px;
        background: rgba(0, 0, 0, .5);
        text-align: center;
        border-radius: 5px;
        margin-bottom: 50px;
        &:before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background: #063b8c;
            border-radius: 0 0 5px 5px;
            height: 40px;
            width: 100%;
        }
        p{
            padding-bottom: 20px;
        }
        h2{
            position: absolute;
            font-size: 20px;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 37%);
        }
    }
    .weather-block{
        background: url('../../images/weather.jpg') no-repeat 0% 0% /cover;
        &:before{
            top: 0;
            border-radius: 5px 5px 0 0;
        }
        p{
            padding-top: 20px;
            padding-bottom: 0;
        }
        h2{
            
            top: 0;
            left: 50%;
            transform: translate(-50%, -29%);
        }
        .value-weather{
            position: absolute;
            font-size: 20px;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 37%);
        }
    }
    .news-block{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        .news-content-card{
            display: flex;
            width: 40%;
            background: #fff;
            border-radius: 5px;
            padding: 20px 10px 10px 20px;
            color: #000;
            text-align: center;
            margin-bottom: 40px;
            .img-part{
                width: 200px;
                height: 150px;
                background: url('../../images/bank4.jpg') no-repeat 50% 50% / cover;
            }
                .text-part{
                    width: 50%;
                    h2{
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
       
           
        }
    }